<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @post.autor %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @post.image_file_name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @post.categoria %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @post.abstract %>
</p>

<p>
  <strong>Paragrafo1:</strong>
  <%= @post.paragrafo1 %>
</p>

<p>
  <strong>Paragrafo2:</strong>
  <%= @post.paragrafo2 %>
</p>

<p>
  <strong>Paragrafo3:</strong>
  <%= @post.paragrafo3 %>
</p>

<p>
  <strong>Paragrafo4:</strong>
  <%= @post.paragrafo4 %>
</p>

<p>
  <strong>Paragrafo5:</strong>
  <%= @post.paragrafo5 %>
</p>

<p>
  <strong>Paragrafo6:</strong>
  <%= @post.paragrafo6 %>
</p>

<p>
  <strong>Paragrafo7:</strong>
  <%= @post.paragrafo7 %>
</p>

<p>
  <strong>Paragrafo8:</strong>
  <%= @post.paragrafo8 %>
</p>

<p>
  <strong>Paragrafo9:</strong>
  <%= @post.paragrafo9 %>
</p>

<p>
  <strong>Paragrafo10:</strong>
  <%= @post.paragrafo10 %>
</p>

<p>
  <strong>Paragrafo11:</strong>
  <%= @post.paragrafo11 %>
</p>

<p>
  <strong>Paragrafo12:</strong>
  <%= @post.paragrafo12 %>
</p>

<p>
  <strong>Paragrafo13:</strong>
  <%= @post.paragrafo13 %>
</p>

<p>
  <strong>Paragrafo14:</strong>
  <%= @post.paragrafo14 %>
</p>

<p>
  <strong>Paragrafo15:</strong>
  <%= @post.paragrafo15 %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
